<!--<ion-header-bar align-title="center" class="bar-balanced">
  <div class="buttons">
    <button ng-click="volverACursos()" class="button button-icon button-clear ion-android-arrow-back"></button>
  </div>
  <h1 class="title">{{datapill[selectedPill].translations.es.title}}</h1>
</ion-header-bar>-->
<ion-view style="-webkit-transform: translateZ(0);">
  <ion-content id="detalle_pildora" overflow-scroll="true">
	<a href="#/app/courses">
		<button class="button button-fab button-fab-bottom-left button-balanced icon ion-ios-arrow-back waves-effect waves-button waves-light pill-back"></button>
	</a>
	<div class="item item-image pildora-info-full">
		 img src="http://www.miscocheselectricos.com/archivos/tesla-model-s-sunset-628-1354200468.jpg"> 
	</div>

	-->
	<videoplayer></videoplayer>
	
    <div class="row responsive-sm">
	    <h2 class="col detailPill-title">{{datapill[selectedPill].translations.es.title}}</h2>
	    <h4 class="col dataPill-authorData"><b>{{datapill[selectedPill].author}}</b> | {{datapill[selectedPill].date_start| date:" yyyy · MM · dd"}}</h4>
    </div>
    <div class="col rating_detalle"><rating readonly="readOnly" ng-model="rate" max="max"></rating></div>
    <div class="row">
		<div class="row test-block" ng-click="startTest(selectedPill)">
		  <div class="col col-75"><b>Test</b></div>
		  <div class="col test-number">0/0</div>
		</div>
	</div>

	<ul class="list pill-options">
	  <li class="item item-toggle detailPill-disponibleOffline">
	     <span><i class="icon ion-pin"></i>  Disponible sin conexión</span>
	     <label class="toggle toggle-balanced" ng-click="backgroundDownload()" ng-model="backgroundDownloadToogle">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	   <span><i class="icon ion-eye"></i>  Ver más tarde</span>
	   <label class="toggle toggle-balanced">
	     <input type="checkbox">
	     <div class="track">
	       <div class="handle"></div>
	     </div>
	   </label>
	  </li>
	 </ul>

	<div class="row responsive-sm">
		<h2 class="col detailPill-descripcion">Descripción</h2>
		  <div class="col detailPill-descripcion-text">{{datapill[selectedPill].translations.es.description}}
			</div>
	</div>


	<div class="row responsive-sm">
		<h2 class="col detailPill-comentarios">Comentarios</h2>
		<h4 class="col detailPill-comentarios-insert" ng-click="addComment()">Escribe aquí tu comentario</h4>
		
    </div>

  </ion-content>
</ion-view>
