<ion-modal-view class="blank_background_color">
    <ion-header-bar class="bar bar-header bar-balanced">
      <div class="buttons">
        <button ng-click="historyModalClose()" class="button button-icon button-clear ion-android-arrow-back"></button>
      </div>
      <h1 class="title">{{ 'HISTORIAL' | translate }}</h1>
    </ion-header-bar>
  <ion-content class="has-header">
     <ion-list>
        <ion-item ng-controller="CourseCtrl" ng-repeat="history in historial" nav-clear class="item item-thumbnail-left" nav-transition="ios" ng-click="getCourseById(5)" >
          <img ng-src="{{history.translations.es.image_url}}"/>
          <span id="thumbnail-label" class="fa-stack fa-lg" ng-if="history.translations.es.resource_url != 'null'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-file fa-stack-1x positive"></i>
          </span>
          <span id="thumbnail-label" class="fa-stack fa-lg" ng-if="history.translations.es.video_url != 'null'">
          <span id="thumbnail-label" class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-video-camera fa-stack-1x positive"></i>
          </span>
          <h2 class="course-title" ng-model="title">{{history.translations.es.title}}</h2>
          <p class="course-date"><b>{{history.author}}</b> | {{pill.date_start | date:" yyyy · MM · dd"}}</p>
          <div class="row data-row">
            <div class="col"><rating readonly="readOnly" max="5"></rating></div>
          </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>