<a ng-click="beginTest()">
	<button style="top: 11vw;" class="btn-floating waves-effect waves-light button-balanced icon ion-ios-arrow-back pill-back"></button>
</a>
<div class="row responsive-sm">
	<div class="col"></div>
  <div class="col"><img ng-src="img/svg/endtest.svg" class="test-center-img" /></div>
</div>
<div class="col">
  <div class="col test-post-title" style="padding-top:0 !important;">¡Enhorabuena!</div>
</div>
<div class="col" style="text-align:center;">
  <div class="col" style="color:#3c3c3c;">Has finalizado el test y has conseguido<br /> 100 puntos</div>
  <div class="col">
	<button style="width: 100%; border: 1px solid; border-radius: 3px; border-color: #80b51b !important; background: transparent !important; color: #80b51b !important;" class="button" ng-click="beginTest()">
	  Repetir
	</button>
	</div>
	<div class="col">
	<button class="button button-balanced" style="width: 100%;" ng-click="endTest()">
	  Cerrar
	</button>
	</div>
</div>