<ion-view>
      <ion-content>
          <div class="hero no-header flat">
            <img class="login-logo" ng-src="img/svg/logo.svg">
          </div>

          <div class="row responsive-sm" style="text-align:center;">
                <div class="spinner-layer spinner-green">
			        <div class="circle-clipper left">
			          <div class="circle"></div>
			        </div><div class="gap-patch">
			          <div class="circle"></div>
			        </div><div class="circle-clipper right">
			          <div class="circle"></div>
			        </div>
			      </div>
			    </div>
          </div>
    </ion-content>
</ion-view>