<ion-modal-view>
      <ion-content>
        <form ng-submit="submit()">
          <div class="hero no-header flat">
            <img class="login-logo" ng-src="img/svg/logo.svg">
          </div>
          <div class="loginBottomBlock">
            <div class="list">
                <ion-md-input ng-model="loginData.username" placeholder="Nombre de usuario" highlight-color="balanced" type="text"></ion-md-input>
                <ion-md-input ng-model="loginData.password" placeholder="Contraseña" highlight-color="balanced" type="password"></ion-md-input>
            </div>
            <div class="padding">
                <button class="button button-full button-balanced ink">Login</button>
                <h4 style="text-align:center;" class="balanced">Necesito ayuda para acceder</h4>
            </div>
          </div>
        </form>
    </ion-content>
<!--  </ion-content> -->
</ion-modal-view>
