<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content overflow-scroll="true">
    <ion-nav-bar align-title="center" class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">
        </button>
      </ion-nav-buttons>      
      <ion-nav-buttons side="right">
        <button ng-controller="CoursesCtrl" ng-click="popover.show($event)" class="button button-clear ion-android-more-vertical">
        </button>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content overflow-scroll="true">
      <div class="item item-avatar login-avatar">
        <p class="avatar-name balanced">Andoni Vianez</p>
      </div>
      <div class="list">
        <div class="sideMenuList" ng-controller="CoursesCtrl" collection-repeat="cat in categories" collection-item-height="75"
      collection-item-width="'100%'" item-height="50px">
            <ion-item class="item item-icon-left" menu-close >
              {{cat.name}}
            </ion-item>
        </div>

          <ion-item class="item item-icon-left" menu-close ng-click="login()">
            [DEV]Login
          </ion-item>
          <ion-item class="item item-icon-left" menu-close href="#/app/test">
            [DEV]Test pantalla
          </ion-item>
          <div class="bottomFixedMenuList">
            <ion-item class="item item-icon-left" menu-close href="#/app/search">
              <i class="icon ion-ios-clock-outline"></i> Ver más tarde
            </ion-item>
            <ion-item menu-close class="item item-icon-left" href="#/app/browse">
              <i class="icon ion-pin"></i>
                Sin conexión
            </ion-item>
            <ion-item menu-close class="item item-icon-left" href="#/app/browse">
              <i class="icon ion-android-time"></i>
                Historial
            </ion-item>
            <ion-item menu-close class="item item-icon-left" href="#/app/config">
              <i class="icon ion-android-settings"></i>
              Configuración
            </ion-item>
            <ion-item menu-close class="item item-icon-left" ng-click="logout()">
              <i class="icon ion-android-exit"></i>
              Desconectar
            </ion-item>
          </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
