<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-balanced">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">
        </button>
      </ion-nav-buttons>      
      <ion-nav-buttons side="right">
        <button ng-controller="CoursesCtrl" ng-click="popover.show($event)" class="button button-clear ion-android-more-vertical header-options-3">
        </button>
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content>
      <div class="login-avatar">
        <p class="avatar-name">{{loginData.username}}</p>
      </div>
      <div class="list">
        <div class="topMenuList">
          <ion-item class="listadoCategoriasFiltro" collection-repeat="cat in categories" menu-close >
            {{cat.desc}} 
          </ion-item> 
        </div>
        <!--
          <ion-item class="item" style="border:none; width: 100%; color: #80b51b; font-weight: bolder;" menu-close>
            Lorem ipsum Vivamus sed consectetur
          </ion-item> 
          <ion-item class="item" style="border:none; width: 100%;" menu-close>
            Dolor sit amet consectetursed 
          </ion-item>
          <ion-item class="item" style="border:none; width: 100%;" menu-close>
            Vivamus sed consectetur
          </ion-item>-->
        
          <div class="bottomFixedMenuList">
            <ion-item class="item item-icon-left menuListElements" menu-close ng-click="laterModalOpen()">
              <i class="icon ion-eye"></i> {{ 'VERMASTARDE' | translate }}
            </ion-item>
            <ion-item menu-close class="item item-icon-left menuListElements">
              <i class="icon ion-pin"></i>
                {{ 'SINCONEXION' | translate }}
            </ion-item>
            <ion-item menu-close class="item item-icon-left menuListElements" ng-click="historyModalOpen()">
              <i class="icon ion-ios-clock"></i>
                {{ 'HISTORIAL' | translate }}
            </ion-item>
            <ion-item menu-close class="item item-icon-left menuListElements" ng-click="ajustes()">
              <i class="icon ion-android-settings"></i>
              {{ 'CONFIGURACION' | translate }}
            </ion-item>
            <ion-item menu-close class="item item-icon-left menuListElements" ng-click="logout()">
              <i class="icon ion-close-round"></i>
              {{ 'DESCONECTAR' | translate }}
            </ion-item>
          </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
