<a href="#/app/courses">
	<button class="button button-fab button-fab-bottom-left button-balanced icon ion-ios-arrow-back waves-effect waves-button waves-light test-back"></button>
</a>
<div class="row responsive-sm">
  <div class="col test-prev-title">Test</div>
</div>
<div class="row responsive-sm">
  <div class="col"><img ng-src="img/svg/test.svg" class="test-center-img" /></div>
</div>
<div class="row responsive-sm">
  <div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur hendrerit ipsum finibus lacinia. Vestibulum dapibus viverra tellus,</div>
	<button class="button button-balanced">
	  Comenzar
	</button>
</div>