<a href="#/app/test" ng-click="testClean()">
	<button class="button button-fab button-fab-bottom-left button-balanced icon ion-ios-arrow-back waves-effect waves-button waves-light test-back"></button>
</a>
<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="false" show-pager="false">
  <ion-slide>
  	<div class="box">
	    <div class="row responsive-sm">
			<div class="col testTitle">Test</div>
			<div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae massa in risus faucibus facilisis ut eu sapien. Sed a ligula varius, maximus purus non, venenatis dolor. Sed sit amet sagittis dolor. Fusce sit amet libero mi.</div>
			<div class="col">
				<div class="item item-checkbox checkbox-balanced item-text-wrap testItems">
					<label class="checkbox">
						<input type="checkbox">
					</label>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra, sapien at vestibulum volutpat, metus eros fringilla dolor, aliquet sodales velit orci sed felis.
				</div>
				<div class="item item-checkbox checkbox-balanced item-text-wrap testItems">
					<label class="checkbox">
						<input type="checkbox">
					</label>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra, sapien at vestibulum volutpat, metus eros fringilla dolor, aliquet sodales velit orci sed felis.
				</div>
				<div class="item item-checkbox checkbox-balanced item-text-wrap testItems">
					<label class="checkbox">
						<input type="checkbox">
					</label>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra, sapien at vestibulum volutpat, metus eros fringilla dolor, aliquet sodales velit orci sed felis.
				</div>
			</div>
			<div class="col">
				<button class="button button-balanced" style="width: 100%;">
					Validar
				</button>
			</div>
		</div>
	</div>

  </ion-slide>
<!--   
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
!-->
</ion-slide-box>