<ion-header-bar align-title="center" class="bar-balanced">
  <div class="buttons">
  <a href="#/app/courses">
    <button class="button button-icon button-clear ion-android-arrow-back"></button>
    </a>
  </div>
  <h1 class="title">Ajustes</h1>
</ion-header-bar>
<ion-view view-title="Ajustes" hide-nav-bar="true"  class="blank_background_color">
  <ion-content>
    <a class="item balanced item-icon-right" href="#/notificaciones">
      Notificaciones
    <i class="icon ion-chevron-right"></i>
  </a>  
  <a class="item balanced item-icon-right" href="#/idioma">
    Idioma
    <span class="item-note stable">
      Castellano
    </span>
    <i class="icon ion-chevron-right"></i>
  </a>  
  <a class="item balanced item-icon-right" href="#/contacto">
    Contacto
    <i class="icon ion-chevron-right"></i>
  </a>  
  <a class="item balanced item-icon-right" href="#/avisolegal">
    Aviso legal
    <i class="icon ion-chevron-right"></i>
  </a>  
  <a class="item balanced item-icon-right" href="#/acercade">
    Acerca de
    <i class="icon ion-chevron-right"></i>
  </a>  
  </ion-content>
</ion-view>