<ion-header-bar align-title="center" class="bar-balanced">
  <div class="buttons" >
  <a href="#/settings"  nav-transition="ios">
    <button class="button button-icon button-clear ion-android-arrow-back" nav-direction="back"></button>
    </a>
  </div>
  <h1 class="title">{{ 'AVISOLEGAL' | translate }}</h1>
</ion-header-bar>
<ion-view view-title="Ajustes" hide-nav-bar="true"  class="blank_background_color">
  <ion-content>
<div class="container">
<h4 class="avisoLegalTitle">PROTECCIÓN DE DATOS PERSONALES</h4>
  <div class="col">
    TAK está comprometida con el respeto a la intimidad del usuario. Por ello, TAK ha adoptado los niveles de protección de datos personales legalmente exigibles, basándose en el Real Decreto 1720/2007 por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999 del 13 de Diciembre, de Protección de Datos de Carácter Personal, por lo que sus datos no son, ni serán, en ningún caso suministrados a terceros. Del mismo modo intenta emplear todos los medios técnicos de protección adicionales que están a su alcance. <br />
    Usted puede en cualquier momento ejercitar su derecho de acceder, rectificar y, en su caso, cancelar sus datos personales escribiendo a la siguiente dirección de correo electrónico info@tak.es<br />
    <h4>DECLARACIÓN DE PRIVACIDAD</h4>
    Con esta declaración de privacidad, TAK expone su política sobre la utilización de la información que Usted ha proporcionado:
    <ul>
      <li> TAK recoge exclusivamente la información personal en la medida necesaria para alcanzar un propósito específico. La información no se volverá a utilizar para un propósito incompatible con el descrito.</li>
      <li> TAK solamente revelará la información a terceros si es necesaria para el cumplimiento de la finalidad expuesta anteriormente y únicamente a las personas (o categorías de personas) mencionadas.</li>
      <li> Como objeto de la información, también tiene derecho a oponerse al tratamiento de sus datos personales por motivos legítimos, excepto cuando los datos se recogen para cumplir con una obligación legal o son necesarios para el cumplimiento de un contrato en el cual usted sea parte o deben utilizarse para un propósito para el cual haya dado usted su inequívoco consentimiento. </li>
      <li> TAK solamente guarda los datos el tiempo necesario para cumplir la finalidad de su recogida o de su procesamiento posterior.</li>
      <li>TAK ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados a TAK. La empresa le informará de ello, previa petición escrita, firmada por el peticionario, y enviada a info@tak.es.</li>
      <li> En caso de preguntas o quejas puede ponerse en contacto mediante correo electrónico no anónimo, en info@tak.es.</li>
    </ul>
  </div>
     <div class="row settings-sendButton">
      <div class="col s12"><button class="button button-full button-balanced login-button" style="margin-top: 4vh !important;">{{ 'ENVIAR' | translate }}</button></div>
   </div>
</div> 
  </ion-content>
</ion-view>