<ion-header-bar align-title="center" class="bar-balanced">
  <div class="buttons">
  <a href="#/app/settings">
    <button class="button button-icon button-clear ion-android-arrow-back"></button>
    </a>
  </div>
  <h1 class="title">Notificaciones</h1>
</ion-header-bar>
<ion-view view-title="Notificaciones" hide-nav-bar="true" class="page_background_color">
  <ion-content>
 <ul class="list">

  <li class="item item-toggle detailPill-disponibleOffline">
     Información general
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

    <li class="item item-toggle detailPill-disponibleOffline">
     Nuevo curso
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

    <li class="item item-toggle detailPill-disponibleOffline">
     Nuevo test
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>
<div class="row responsive-sm">
  <div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed laoreet lectus, sed rhoncus augue. Curabitur hendrerit, nisi quis vehicula iaculis, ligula mauris lacinia sapien, in consectetur ex magna sodales odio. Curabitur feugiat ullamcorper leo, vel vulputate leo eleifend non. Vivamus sed consectetur diam. Sed vel ex eu ante dictum sagittis vel ut nisl.</div>
</div>
  </ion-content>
</ion-view>