/* Empty. Add your own CSS if you like */

html{
  font-family: "Roboto" !important;
}

* {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

/* Colores  */
.balanced{
  color: #80b51b !important;
}
.bar-balanced{
  background-color: #80b51b !important;
}

.button-balanced{
  background-color: #80b51b !important;
}


.spinner-balanced svg{
    stroke: #80b51b !important;
    fill: #80b51b !important;
}

h1, h2{
  color: #666666;
}

title{
  font-family: Roboto;
  font-size: 3.5vh;
}

input:focus:not([readonly]){
   box-shadow: 0 1px 0 0 #80b51b !important;
}

input:focus:not([readonly]) + label{
  color: #666666 !important;
  font-size: 4.5vw;
}

.input-field{
  margin: 0 !important;
}

input[type="email"], input[type="password"]{
    height: 7vh;
    background-color: rgb(242, 247, 232);
    margin: 0;
    margin-bottom: 1vh;
    padding-left: 4vw;
    margin-right: 2vw;
    width: 95%;
    font-size: 4.5vw;
    color: #666666;
}


input[type="search"]{
  margin: inherit;
}


.input-field label{
  font-family: Roboto;
  color: #666666 !important;
  position: absolute;
  top: 0.3rem;
  left: 1.2rem;
  font-size: 1.2rem;
}
.toggle-balanced input:checked + .track {
    background-color:#80b51b;
    border-color:#80b51b;
}
i.small{
  font-size: 1.8rem;
}

.login-avatar{
  background-color: #f2f2f2 !important;
  height: 50px !important;
  position: fixed;
  z-index: 888888;
  width: 100%;
}

.bottomFixedMenuList{
  background-color:#fcfcfc !important;
  position: fixed;
  bottom: 0px;
  width: 100%;
  clear: both;
}

.loginBottomBlock{
    margin-top: 180px;
    position: relative;
    width: 90%;
}

.page_background_color{
  background-color: #f2f2f2 !important;
}

.blank_background_color{
  background-color: #ffffff !important;
}

body{
  font-family: "Roboto regular" !important;
}

.scroll{
  min-height: 100%;
}

.fa-circle{
  color: white;
}
.item-thumbnail-left .item-content .item-image, .item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left>img:first-child{
  border-radius: 0% !important;
  max-width: 12em !important;
  max-height: 10em !important;
  left: 0px !important;
  top: 0px !important;
}

.avatar-name{
  position: absolute !important;
  font-family: Roboto regular;
  font-size: 19px;
  color: #666666;
  right: 18px;
  height: 100%;
  line-height: 50px;
}

.topMenuList{
    overflow: scroll;
  height: 275px;
}

.menuListElements{
  font-size: 5vw;
  border: none;
  font-family: Roboto regular;
  padding-left: 18vw;
  background-color: #fcfcfc;
}

.listadoCategoriasFiltro{
  width: 100% !important;
  border: none !important;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 0px 1px !important;
}

ul.rating li i {
  font-size: 27px !important;
  color: #e7ce2a !important;
}

.item-thumbnail-left{
    padding-left: 26vw !important;
}

.item-thumbnail-left>img:first-child{
  max-width: 43vw !important;
  min-height: 100%;
}


.course-title{
  left: 22vw;
  top: 0.3vh;
  position: relative;
  font-size: 3vh !important;
  font-family: Roboto regular;
  width: 48vw;
}

.course-date{
  left: 22vw;
  top: 1.3vh;
  position: relative;
  font-family: Roboto light;
}

.course-item{
  height: 17.8vh;
}

.course-autor-courses{
    font-family: Roboto regular;
  font-weight: 600;
}

.course-highlight{
  background-color: #e8f0e6;
}

.searchButton{
  bottom: 7vw;
  right: 7vw;
  position: fixed;
  height: 70px;
  font-size: 6vh;
  width: 70px;
}

.header-options-3{
  font-size: 32px !important;
  margin-right: 10px !important;
}

.data-row{
    position: relative !important;
    left: 4.8em !important;
    top: 0.9em;
}

#thumbnail-label{
  position: absolute;
  text-align: center;
  left: 0.1vw;
  bottom: 0.1vw;
}

.detalle_pildora{
  background-color: #f2f2f2 !important;
}


.pildora-info-full{
  border-width: 0px !important;
  margin: 0px !important;
}

.rating_detalle{
  position: relative;
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.5em;
}

.detail-button{
  display: inline !important;
  width: 100%;
  text-align: center;
  font-size: 11px !important;
  top: 1em;
  background-color: #ffffff !important;
}

.pill-options{
  top: 1em;
  position: relative;
}

.pill-options span{
  font-size: 6vw;
  color: #666666;
  padding-left: 3vw;
  line-height: 5vh;
}

.pill-back{
  top: 5vw;
  left: 4vw;
  position: fixed;
  height: 41px;
  width: 41px;
}

.test-block{
  color: #80b51b;
  background-color: white;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  border: 1px solid;
  border-radius: 4px;
  width: 91.2%;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  margin-top: 2vh !important;
}

.test-number{
  text-align: center;
  padding-right: 1em;
  border-left: 1px solid #80b51b;
}

.detailPill-title, .detailPill-descripcion, .detailPill-descripcion-text, .detailPill-comentarios{
  color: #666666;
  margin-bottom: inherit !important;
  font-size: 4vh;
  font-family: Roboto regular;
}

.detailPill-descripcion-text{
  font-family: "Roboto light";
  color: #666666;
  font-size: 3.3vh;
}

.detailPill-comentarios-insert{
  color: #80b51b;
  border-bottom: 1px solid #838383;
  font-size: 3.2vh;
  font-family: Roboto regular;
  letter-spacing: 0.5vw;
  padding-bottom: 3vh !important;
}

.detailPill-disponibleOffline{
  border-top: 1px solid #acacac !important;
  border-bottom: 1px solid #acacac !important;
}

.detailPillToogle{
    font-family: Roboto;
  background-color: transparent;
}

.dataPill-authorData{
  margin: inherit !important;
  color: #999999;
  letter-spacing: 0.05em;
  font-size: 4.5vw;
  font-family: Roboto Light;
}

.dataPill-Author-row{
    margin-bottom: 0.5vh !important;
}

.dataPillTitle-row{
    margin-bottom: 2vh !important;
}

.dataPillComent-row{
    margin-bottom: 2vh !important;
}

.detailPill-responsive-block-adjust{
  margin-left: auto !important;
  margin-right: auto;
  width: 96.5%;
}

.comentarios-header-text{
  font-family: "Roboto light";
  color: #999999;
}

.comentarios-body-text{
  font-family: "Roboto light";
  color: #666666;
  font-size: 3.3vh;
}


.popup{
  width: 88% !important;
  border-radius: 3px !important;
  background-color: #fafafa !important;
}

.popup-buttons{
  width: 16em !important;
  right: 0 !important;
  margin-left: auto !important;
}

.popup-head{ 
  padding: 0.2em 10px;
  border: none !important;
}

/*  Fix para el backdrop   */
.backdrop{
    display: initial !important;
}


/*    Video    */
.centerme {
    margin: 0 auto;
    width: 100%;
    height:auto;
}
 
.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    right: 0;
    top: 0;
}

/* popup de comentario */
.courseBackgroundPopUp{

}

.coment-input{
  background-color: #fafafa;
  border-left: none;
  border-right: none;
}

.addCommentTitle{
  text-align: center;
  font-family: Roboto;
  font-size: 4vh;
  color: #666666;
}

/* Login
==================================*/
.login-logo{
  position: relative !important;
  margin-top: 41px;
  height: 75px;
  /*right: 50vw;*/
  right: 180px;
}

.platform-ios .login-logo{
  right: 200px;
}

.login-button{
    border-radius: 3px;
    font-family: Roboto;
    font-size: 5vw;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.item-md-label input{
  background-color: #f2f7e8 !important;
  width: 92% !important;
  color: #666666 !important;
}

.item-md-label .input-label{
  padding-left: 0.1em !important;
  padding-bottom: 0.2em !important;
  color: #666666 !important;
}




/*   Test window  */

.test-back{
  top: 1em !important;
}

.test-prev-title{
    color: #80b51b !important;
    font-size: 3em;
    font-family: "Roboto";
    text-align: center;
    position: relative;
    margin-top: 11vh;
}

.test-post-title{
    color: #80b51b !important;
    font-size: 3em;
    font-family: "Roboto";
    text-align: center;
    position: relative;
}

.test-center-img{
  width: 100%;
}

.slider{
  height: auto !important;
}

.testTitle{
  color: #80b51b !important;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  line-height: 6vh;
}

.testItems{
  border: none !important;

}

.testPage{
  margin: none !important;
}


/*  Background download    */
.backgroundPopUpDownloadIcon svg{
  width: 100%;
  right: 0.2em;
  top: 0.25em;
  position: relative;
  color: red;
  fill: currentColor;
}

.backgroundPopUpDownloadButtons{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #80b51b;
  width: 64% !important;
  margin: inherit !important;
  padding: inherit !important;
  padding-bottom: 0.5em !important;
  margin-left: auto !important;
  font-family: Roboto regular;
  font-weight: 600;
}

/* Settings section  */

.avisoLegalTitle{
  color: #80b51b !important;
}

.idiomas-text{
  font-size: 4.5vw;
}

.idiomas-list{
  border-bottom: 1px solid #d0cfd3 !important;
}

.settings-notif-toogleText{
  border-top: 1px solid #b2b2b2 !important;
  border-bottom: 1px solid #b2b2b2 !important;
  color: #666666 !important;
  font-size: 3vh;
  font-family: Roboto regular;
}

.settings-notif-belowText{
    color: #666666;
}

.settings-sendButton{
  position: relative;
  margin-top: 68vh;
}

.avisoLegalText{
  color: #999999;
}

.acercadebox{
    width: 40vw;
  background-color: #f2f2f2;
  padding: 8vw;
}

/* FIX POPOVER */
ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view {
  height: 115px;
}

.platform-ios ion-popover-view {
  height: 115px;
}