/* Empty. Add your own CSS if you like */


/* Colores  */
.balanced{
  color: #80b51b !important;
}
.bar-balanced{
  background-color: #80b51b !important;
}

.button-balanced{
  background-color: #80b51b !important;
}

.login-avatar{
  background-color:#f2f2f2 !important;
  min-height: 1em !important;
}

.bottom-block{
  background-color:#fcfcfc !important;
  position: fixed;
  bottom: 0px;
  width: 100%;
  clear: both;
}

.scroll{
  height: 100%;

}


.fa-circle{
  color: white;
}
.item-thumbnail-left .item-content .item-image, .item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left>img:first-child{
  border-radius: 0% !important;
  max-width: 12em !important;
  max-height: 10em !important;
  left: 0px !important;
  top: 0px !important;
}

.avatar-name{
    position: absolute !important;
    bottom: 0.5em;
    right: 1em;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 0px 1px !important;
}

ul.rating li i {
  font-size: 27px !important;
  color: #e7ce2a !important;
}

.course-title{
    left: 4.5em;
    position: relative;
}

.course-date{
      left: 5.1em;
    position: relative;

}

.data-row{
  position: relative !important;
  left: 4.5em !important;
}

#thumbnail-label{
    position: absolute;
    text-align: center;
    left: 0.3em;
    bottom: 0.3em;
  }

#detalle_pildora{
  background-color: #f2f2f2;
}

.pildora-info-full{
  border-width: 0px !important;
  margin: 0px !important;
}

.rating_detalle{
  position: relative;
  text-align: center;
  font-size: 25px;
}

.detail-button{
  display: inline !important;
  width: 100%;
  text-align: center;
  font-size: 11px !important;
  top: 1em;
  background-color: #ffffff !important;
}

.pill-options{
  top: 1em;
  position: relative;
}

.pill-options span{
  font-size: 22px;
  color: #666666;
}

.pill-back{
  top: 1em !important;
}


/*    Video    */
.centerme {
    margin: 0 auto;
    width: 100%;
    height:auto;
}
 
.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    right: 0;
    top: 0;
}


/* Login
==================================*/
.login-logo{
  width: 88%;
  position: relative !important;
  left: 0 !important;
  top: 2em;
  background: url('../img/logo.png') left;
  background-size: cover;
  height: 8em;
  width: 90%;
}

.app-icon {
    background-color: #f2f7e8;
    background: url('../img/logo.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.item-md-label input{
  background-color: #f2f7e8 !important;
  width: 92% !important;
}

.item-md-label .input-label{
  padding-left: 0.8em !important;
}