/* Empty. Add your own CSS if you like */


/* Colores  */
.balanced{
  color: #80b51b !important;
}
.bar-balanced{
  background-color: #80b51b !important;
}

.button-balanced{
  background-color: #80b51b !important;
}

.login-avatar{
  background-color:#f2f2f2 !important;
  min-height: 1em !important;
}

.bottomFixedMenuList{
  background-color:#fcfcfc !important;
  position: fixed;
  bottom: 0px;
  width: 100%;
  clear: both;
}

.page_background_color{
  background-color: #f2f2f2 !important;
}

body{
  font-family: "Roboto", regular !important;
}

.fa-circle{
  color: white;
}
.item-thumbnail-left .item-content .item-image, .item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left>img:first-child{
  border-radius: 0% !important;
  max-width: 12em !important;
  max-height: 10em !important;
  left: 0px !important;
  top: 0px !important;
}

.avatar-name{
    position: absolute !important;
    bottom: 0.5em;
    right: 1em;
}

.sideMenuList{

}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 0px 1px !important;
}

ul.rating li i {
  font-size: 27px !important;
  color: #e7ce2a !important;
}

.course-title{
    left: 4.5em;
    position: relative;
}

.course-date{
    left: 5.1em;
    top: 0.5em;
    position: relative;
}

.course-highlight{
  background-color: #e8f0e6;
}

.data-row{
  position: relative !important;
  left: 4.5em !important;
}

#thumbnail-label{
    position: absolute;
    text-align: center;
    left: 0.3em;
    bottom: 0.3em;
  }

#detalle_pildora{
  background-color: #f2f2f2;
}

.pildora-info-full{
  border-width: 0px !important;
  margin: 0px !important;
}

.rating_detalle{
  position: relative;
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.5em;
}

.detail-button{
  display: inline !important;
  width: 100%;
  text-align: center;
  font-size: 11px !important;
  top: 1em;
  background-color: #ffffff !important;
}

.pill-options{
  top: 1em;
  position: relative;
}

.pill-options span{
  font-size: 22px;
  color: #666666;
}

.pill-back{
  top: 1em !important;
}

.test-block{
  color: #80b51b;
  background-color: white;
  padding: 0.5em;
  border: 1px solid;
}

.test-number{
  text-align: center;
  padding-right: 1.5em;
  border-left: 1px solid #80b51b;
}

.detailPill-title, .detailPill-descripcion, .detailPill-descripcion-text, .detailPill-comentarios{
  color:#666666;
  margin-bottom: inherit !important;
}

.detailPill-descripcion-text{
  padding: 0.2em;
}

.detailPill-comentarios-insert{
  color: #80b51b;
  border-bottom: 1px solid #838383;
}

.detailPill-disponibleOffline{
  border-top: 1px solid #acacac !important;
  border-bottom: 1px solid #acacac !important;
}

.dataPill-authorData{
  margin: inherit !important;
  color: #999999;
  letter-spacing: 0.05em;
}

.popup{
  width: 88% !important;
  border-radius: 3px !important;
  background-color: #fafafa !important;
}

.popup-buttons{
  width: 16em !important;
  right: 0 !important;
  margin-left: auto !important;
}

.popup-head{ 
  padding: 0.2em 10px;
  border: none !important;
}

/*    Video    */
.centerme {
    margin: 0 auto;
    width: 100%;
    height:auto;
}
 
.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    right: 0;
    top: 0;
}


/* Login
==================================*/
.login-logo{
    position: relative !important;
    left: -14.5em !important;
    top: 3em;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.item-md-label input{
  background-color: #f2f7e8 !important;
  width: 92% !important;
}

.item-md-label .input-label{
  padding-left: 0.8em !important;
}




/*   Test window  */

.test-back{
  top: 1em !important;
}

.test-prev-title{
  color: #80b51b !important;
  font-size: 3em;
  font-family: "Roboto";
  text-align: center;
  padding-top: 1em;
}

.test-center-img{
  width: 100%;
}

.testTitle{
  color: #80b51b !important;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
}

.testItems{
  border: none !important;

}


/*  Background download    */
.backgroundPopUpDownloadIcon{
  width: 100%;
  right: 0.2em;
  top: 0.25em;
  position: relative;
}

.backgroundPopUpDownloadButtons{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #80b51b;
  width: 64% !important;
  margin: inherit !important;
  padding: inherit !important;
  padding-bottom: 0.5em !important;
  margin-left: auto !important;
}

